<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Barang Masuk ATK</h3>
  </div>
  <form action="/stokbarang/barang-masuk/tambah" method="post">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label fw-bold text-capitalize">Jenis Barang</label>
                  <select name="f_nama_barang" class="form-select form-control" required>
                    <option value="" selected>pilih Jenis Barang</option>
                    <% jenisbarang.forEach(jb=> { %>
                      <option value="<%= jb.nama_barang %>">
                        <%= jb.nama_barang %>
                      </option>
                      <% }) %>
                  </select>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="mb-3">
                  <label class="form-label fw-bold text-capitalize">Jumlah stok masuk</label>
                  <input type="number" class="form-control" name="f_stok_awal" required />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="mb-3">
                  <label class="form-label fw-bold text-capitalize">Satuan</label>
                  <select name="f_satuan" class="form-select form-control" required>
                    <option value="" selected>pilih Satuan</option>
                    <% satuan.forEach(g=> { %>
                      <option value="<%= g.kode %>">
                        <%= g.nama_satuan %>
                      </option>
                      <% }) %>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <label class="form-label fw-bold text-capitalize">Keterangan</label>
                <input type="text" class="form-control" name="f_keterangan" />
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Simpan</button>

          </div>

        </div>
      </div>
  </form>
  <hr>

  <div class="col-12 pt-3">
    <div class="row">
      <div class="col-lg-12">
        <table id="myTable" class="table table-hover">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Barang</th>
              <th>Stok Masuk</th>
              <th>satuan</th>
              <th>Tanggal Masuk</th>
              <th>Keterangan</th>
              <th>Created By</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i=0; i < stok_masuk.length; i++) { %>
              <tr>
                <td>
                  <%= i + 1 %>
                </td>
                <td>
                  <%= stok_masuk[i].jenisbarangId %>
                </td>
                <td>
                  <%= stok_masuk[i].stok_awal %>
                </td>
                <td>
                  <%= stok_masuk[i].satuan %>
                </td>
                <td>
                  <% if (stok_masuk[i].created_at) { %>
                    <%= stok_masuk[i].created_at.toLocaleDateString('id-ID') %>
                <% } else { %>
                    <!-- Handle the case where created_at is null or undefined -->
                    N/A
                <% } %>
                </td>
                <td>
                  <%= stok_masuk[i].keterangan %>
                </td>
                <td>
                  <%= stok_masuk[i].user.username %>
                </td>
                <td>
                    <form action="/stokbarang/barang-masuk/delete/<%= stok_masuk[i].id %>" method="post">
                        <button type="submit" class="btn btn-sm btn-outline-danger"
                        onclick="return confirm('apakah anda yakin ingin hapus <%= stok_masuk[i].jenisbarangId %>?')">
                            <i class="fa fa-fw fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
              </tr>
              <% } %>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>